<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resp.css') }}" />
  </head>
  <body style="width: fit-content;">
    {% for s in states %}
    <div class="state">
      <div class="block_type_label">состояние</div>
      <div class="block_title">{{s["title"]}}</div>
      <i>Значение:</i> {{s["value"]}}<br/>
      <i>Комментарий:</i> {{s["comment"]}}
    </div>
    {% endfor %}
    {% for e in errors %}
    <div class="error">
      <div class="block_type_label">ошибка</div>
      <div class="block_title">Ошибка валидации</div>
      <i>Параметр:</i> {{e[0]}}<br/>
      <i>Комментарий:</i><br/>
      {% for e_msg in e[1] %}
        {{e_msg}}<br/>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
